{
    "env": {
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "rules": {
        "brace-style": [2, "1tbs"],
        "comma-style": [2, "last"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "no-constant-condition": 2,
        "semi": [2, "always"],
        "keyword-spacing": 2,
        "space-before-blocks": [2, "always"],
        "strict": [2, "never"],
        "quotes": [2, "single"]
    },
    "plugins": [],
    "globals": {
        "__dirname": false,
        "require": false,
        "module": false,
        "exports": false,
        "window": false,
        "document": false,
        "it": false,
        "describe": false
    }
}
